{% extends "base.html" %}
{% block title %}Bio{% endblock %}
{% block content %}
<main class="bio-main">
    <a href="" class="bio-left" style="text-decoration: none;">
        <video id="performercvvideo" src="/media/videos/15493-264715953_medium.mp4" muted loop disablepictureinpicture></video>
        <h3>View Performer CV</h3>
    </a>
    <section class="bio-section">
        <div class="bio-container">
            <div class="bio-content">
                <h2>About Me</h2>
                <p>My life is a balance between two worlds — where the precision of technology and the creativity of the arts meet.
                    <br>
                    <br>

                    Hi, I'm Hristo. I'm a junior software developer and my journey so far has been anything but ordinary. 
                    Originally from Sofia, Bulgaria, I ventured to London in 2015 to pursue my dreams in the performing arts, 
                    graduating from East 15 Acting School, and later from the Institute of the Arts Barcelona with a BA in Acting. 
                    Some years after finishing my studies, I accidentally stumbled into the world of stunts. 
                    What started as an unexpected opportunity soon became an exciting way to combine my acting skills with physical performance.

                    This chance led me to work as a stunt performer on major productions like Star Wars: Andor and 
                    The Lord of the Rings: Rings of Power.

                    Over the years, I’ve worn many other hats — from a bartender to driver, warehouse associate, and event coordinator.
                    
                    <br><br>In 2023, life threw me a curveball when injuries prompted a shift from my stunt career. Determined to channel 
                    my resilience and adaptability into a new path, I embarked on a journey into software development.
                     Since then, I’ve worked on projects like a job-matching platform, and a forum system showcasing my skills in Python,
                      REST APIs, and modern software technologies.
                    
                    <br><br>Fluent in two languages, conversational in two more, and enriched by life in Bulgaria, the UK, Spain, and Germany,
                     I bring a unique global perspective to everything I do. I thrive on solving problems, building impactful projects,
                      and blending technology with the creativity I’ve cultivated throughout my life.
                    
                    When I’m not coding, you can find me exploring the intersection of AI and arts, staying active with various sports,
                     or enjoying creative pursuits like writing and performing.
                    <br><br>
                    So, which side will you pick — the art of creation or the logic of technology? The choice is yours!
                </p>
            </div>
        </div>
    </section>
    <a href="/media/documents/HristoBonevCV.pdf" class="bio-right" style="text-decoration: none;">
        <video id="developercvvideo" src="/media/videos/113367-697718066_small.mp4" muted loop disablepictureinpicture></video>
        <h3>View Developer CV</h3>
    </a>
    <script src="/scripts/scripts.js"></script>
</main>
{% endblock %}
