{% extends "base.html" %}

{% block title %}Hristo Bonev{% endblock %}

{% block content %}
    <!-- Performing Section -->
     <main>
    <div class="section performing">
        <a href="/reels" class="section-link">
            <video id="performanceVideo" src="{{ left_video.url }}" muted loop disablepictureinpicture></video>
            <div class="text">My Art</div>
        </a>
    </div>

    <!-- Me Section -->
    <div class="section">
        <a href="/about-me" target="_blank" class="section-link">
            <img src="{{ centre_image.url }}" alt="Your Photo">
            <div class="text">Myself</div>
        </a>
    </div>

    <!-- Coding Section -->
    <div class="section coding">
        <a href="/projects" class="section-link">
            <video src="{{ right_video.url }}" muted loop disablepictureinpicture></video>
            <div class="text">My Craft</div>
        </a>
    </div>

    <script src="/scripts/scripts.js"></script>

</main>
    
{% endblock %}
